*{
    padding: 0%;
    margin: 0%;
}
::before
::after{
    box-sizing: inherit;
}
/* header navbar no 01 */
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    width: 100%;
    position: fixed;
    margin-top: 2rem; 
}
/* blank slate ka logo */
.bs-logo{
   overflow-clip-margin: content-box;
   overflow: clip;
   overflow-x: auto;
   overflow-y: auto;
   margin-left: 70px;
}
 /* nav bar ki listing */
.listing{
    list-style-type: none;
    flex: 0 0 50%;
    display: flex;
    margin-top: 12px;
    align-items: center;
    justify-content: space-evenly; 
    letter-spacing: 0.5px;
    padding: 0 10px;
}
.link{
    text-decoration: none;
    font-size: larger;
    font-weight: bolder;
    padding: 2vh 2vh 2.5vh 2vh;
    color: whitesmoke ; 
}
.link:hover{
    font-family: 'Times New Roman', Times, serif;
    color: wheat;
    background: linear-gradient(0deg, rgba(14,144,217,1) 0%, rgba(118,68,184,1) 100%); 
    border-radius: 15px 5px;
}
.button{
    height: 6vh;
    padding: 1.2vh 2vh 2vh 2vh;
    background: linear-gradient(0deg, rgba(14,144,217,1) 0%, rgba(118,68,184,1) 100%);
    border-radius: 15px 5px;
    width: 100px;
    text-decoration: none; 
    font-size: larger;
    font-weight: bolder;
    border-radius: 15px 5px;
}
/* navbar khatam */


/* < banner cover image 01 > */
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/blank\ 1.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: fixed;
    background-repeat: no-repeat;
    color: var(--color-gray-dark-2);
}
.container{
    /* background-color: gainsboro; */
    height: 60vh;
    margin-top: 0px;
}
/* h3 */
.contentbox{
    height: 45px;
    color: black;
    background-color: whitesmoke;
    width: 17%;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 50px;
}

/* h1 */
.contentbox-heading{
  font-weight: bold;
  font-size: 65px;
  color: whitesmoke;
}

/* paragraph */
.contentbox-paragraph{
    color: whitesmoke;
    font-style: italic;
    font-family: 'Lucida Sans Regular','Lucida Sans Unicode', Geneva, sans-serif;
}
/* button / hovur / shadow / animation /  */
.cta {
    margin-top: 2.5rem; 
}
.cta__book-now {
    font-size: 2.5rem;
    font-weight: 100px;
    text-transform: uppercase;
    margin-bottom: 2rem; }
.cta .btn {
    height: 80px;
    width: 400px;
    position: relative;
    overflow: hidden;
    font-size: 1.5rem;
    font-weight: 100;
    text-transform: uppercase;
    border-radius: 10rem;
    border: none;
    background-color: white;
    background: linear-gradient(0deg, rgba(14,17,184,1) 0%, rgba(114,55,193,1) 100%);
    color: #fff; 
}
.cta .btn > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all .2s;
     
}
.cta .btn-visible {
    font-family: 'Lucida Sans Regular','Lucida Sans Unicode', Geneva, sans-serif;
    padding: 1rem 3rem; 
}
.cta .btn-hidden {
    position: absolute;
    font-weight: bolder;
    left: 0;
    top: -100%;
    padding: 1rem 3rem; 
}
.cta .btn:hover {
    background: rgb(14,17,184);
    background: linear-gradient(0deg, rgba(14,17,184,1) 0%, rgba(39,247,249,1) 100%);
    box-shadow: 9px 8px 9px 5px rgb(89, 92, 150);
}
.cta .btn:hover .btn-visible {
    transform: translateY(100%);
 }
.cta .btn:hover .btn-hidden {
   top: 0; }
.cta .btn:focus {
    outline: none;
   animation: pulsate 1s infinite;
 }

 /* main div */
.section-cards {
    width: 100%;
    height: auto;
    margin-left: 6rem;
    /* padding-bottom: 10rem; */
    background: var(--color-w); }
  
.card {
    margin-top: 5rem;
    width: 290px;
    height: 300px;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 1rem 4rem var(--color-gray-light-4);
    transition: all .2s; 
}
.card i {
    font-size: 3rem; 
    margin-top: 5px;
}
.card h3 {
    color: var(--color-primary);
    margin-top: 1.3rem; 
}
    
.card p {
    margin-top: 0.3rem;
}
.card-filled {
    color: white; 
    background-image: linear-gradient(to right, #474188, #9b00fb);
    box-shadow: 0 2rem 6rem var(--color-w);
}
.card-filled:hover{
    color: black;
}

.card:hover {
 transform: translateY(-1rem) scale(1.05);
 background: rgb(14,17,184);
 background: linear-gradient(0deg, rgb(221, 190, 226) 0%, rgb(208, 233, 233) 100%);
 box-shadow: 9px 8px 9px 5px rgb(89, 92, 150);
 border-radius: 15px 5px;
 
}
  
.down-cards {
    margin-top: -10rem;
    margin-left: 20rem; 
}
.card-wrap {
    width: 270px;
    height: 200px;
    margin-top: 1rem; 
}
.small-contentbox {
    margin-top: -37rem;
    margin-left: 45rem;
    color: var(--color-primary);
    width: 40%;
    height: auto; 
}
.small-contentbox h3 {
    text-align: center;
    width: 28%;
    background-color: var(--color-w);
    padding: .3rem 0rem;
    color: black;
}
.small-contentbox-heading {
    color: var(--color-primary);
    margin-top: 2rem;
    font-size: 4rem;
    letter-spacing: 1px;
    line-height: 6rem; 
}
.small-contentbox-para {
    color: var(--color-gray-dark-3);
    font-size: 1.3rem;
    letter-spacing: 1px;
    margin-top: 1rem; 
}
.small-contentbox .width-1 {
    width: 75%; 
}
  
  
